.flowContainer {
  width: 100vw;
  height: calc(100vh - var(--topbar-height) - 50px);
}

.footer {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-sm) var(--spacing-md);
  border-top: 1px solid #ddd;
}
