:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #08fb;
  --color-primary-hover: #01fb;
  --color-secondary: #000000;
  --color-border: #dcdcdc;
  --color-text: #333333;
  --color-background: #ffffff;
  --color-background-secondary: #f5f5f5;
  --color-white: #ffffff;

  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 20px;
  --spacing-lg: 30px;
  --spacing-xl: 40px;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;

  --font-h1: 32px;
  --font-h2: 24px;
  --font-h3: 18px;
  --font-h4: 16px;

  --topbar-height: 50px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
