body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  .main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--topbar-height));

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      padding: var(--spacing-md);
      gap: var(--spacing-md);

      .h1 {
        text-align: center;
        margin-bottom: var(--spacing-md);
        font-size: var(--font-h1);
      }

      .p {
        font-size: var(--font-size-lg);
      }

      .getStarted {
        color: var(--color-white);
        padding: var(--spacing-sm) var(--spacing-md);
        border-radius: var(--spacing-sm);
        background-color: var(--color-primary);
        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--color-primary-hover);
        }
      }
    }
  }
}
