.button {
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--spacing-xs);
  background-color: var(--color);
  border: 1px solid var(--color-text);
  color: var(--color-text);
  transition: background-color 0.2s ease;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--color-background-secondary);
  }

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary-hover);
      border-color: var(--color-primary-hover);
    }
  }
}
